<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataDevelop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DataDevelop.Properties.Settings>
      <setting name="TextEditorFont" serializeAs="String">
        <value>Courier New, 9.75pt</value>
      </setting>
      <setting name="RowsPerPage" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TextVisualizerFont" serializeAs="String">
        <value>Courier New, 9.75pt</value>
      </setting>
      <setting name="VisualStyle" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterDialogSize" serializeAs="String">
        <value>480, 300</value>
      </setting>
      <setting name="SortDialogSize" serializeAs="String">
        <value>320, 240</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>620, 440</value>
      </setting>
      <setting name="MainFormState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </DataDevelop.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.4.0" newVersion="1.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.4.0" newVersion="1.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
